*{
    margin: 0px;
    padding: 0px;
}
.content1{
    width: 100vw;
    height: 50vh;
    background-color: #ffa530;
    position: relative;
    overflow: hidden;
}
.inputTitle{
    position: relative;
    font-family: Arial;
    margin-left: 25vw;
    margin-top: 15vh;
}
.input{
    margin-left: 25vw;
    margin-top: 2.25vh;
    width: 17rem;
    height: 1.25rem;
    border-radius: 0.3rem;  
    border: 0px;
    box-shadow: 2px 5px 5px rgb(0, 0, 0, 0.25);
}
#shortURLInput{
    display: none;
}
#finalURL{
    display: none;
    font-family: arial;
    margin-left: 25vw;
    margin-top: 2.25vh;
}
#tangButton{
    display: none;
    margin-left: 25vw;
    margin-top: 2vh;
    width: 11rem;
    height: 3rem;
    transition: .1s;
}
#tangButton:hover{
    transform: scale(1.025);
    transition: .1s;
    cursor: pointer;
}